# pandas DataFrames
* pandas library helps us to `manipulate data`
* in pandas we have numpy, ploting modules and option to write queris
* using pandas `DataFrames` we can store data in tabular format, which we can modify, manipulation bu using inbuilt functions

* tabular formate is `(rows x columns)`
* generally row index will be your observation number and columns headings will be thw variable names
* there are two main components in pandas library
    * `Series` : it a unit or **1dim** object like row or column
    
    * `DataFrames` : tabular form like a **2dim** numpy array

In [12]:
import pandas as pd

In [13]:
person = {'first' : 'Assan',
          'last'  : 'Kalagotla',
          'email' : 'assankalagotla@gmail.com'}

In [14]:
people = {'first' : ['Assan','Hussen','Husna'],
          'last'  : ['hassi','rocks','anju'],
          'email' : ['assanhassi@gmail.com','hussenrocks@gmail.com','husnaanju@gmail.com']}

In [15]:
people['email']

['assanhassi@gmail.com', 'hussenrocks@gmail.com', 'husnaanju@gmail.com']

## we have to convert dictonary data into DataFrames

In [31]:
df = pd.DataFrame(people)
df

    first   last                  email
0   Assan  hassi   assanhassi@gmail.com
1  Hussen  rocks  hussenrocks@gmail.com
2   Husna   anju    husnaanju@gmail.com

In [32]:
df['email']

0     assanhassi@gmail.com
1    hussenrocks@gmail.com
2      husnaanju@gmail.com
Name: email, dtype: object

In [33]:
type(df['email'])

pandas.core.series.Series

In [34]:
df.email

0     assanhassi@gmail.com
1    hussenrocks@gmail.com
2      husnaanju@gmail.com
Name: email, dtype: object

In [35]:
df[['first','email']]

    first                  email
0   Assan   assanhassi@gmail.com
1  Hussen  hussenrocks@gmail.com
2   Husna    husnaanju@gmail.com

In [36]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [37]:
df

    first   last                  email
0   Assan  hassi   assanhassi@gmail.com
1  Hussen  rocks  hussenrocks@gmail.com
2   Husna   anju    husnaanju@gmail.com

# iloc  - searching by indexer of rows and columns

In [47]:
df.iloc[0]

first                   Assan
last                    hassi
email    assanhassi@gmail.com
Name: 0, dtype: object

In [48]:
df.iloc[0,1]

'hassi'

In [49]:
df.iloc[[0,1]]

    first   last                  email
0   Assan  hassi   assanhassi@gmail.com
1  Hussen  rocks  hussenrocks@gmail.com

In [50]:
df.iloc[[0,1], 2]

0     assanhassi@gmail.com
1    hussenrocks@gmail.com
Name: email, dtype: object

# loc - searching by lable of rows and columns

In [51]:
df.loc[0]

first                   Assan
last                    hassi
email    assanhassi@gmail.com
Name: 0, dtype: object

In [52]:
df.loc[[0,1],'email']

0     assanhassi@gmail.com
1    hussenrocks@gmail.com
Name: email, dtype: object

In [53]:
df.loc[[0,1],['email','first']]

                   email   first
0   assanhassi@gmail.com   Assan
1  hussenrocks@gmail.com  Hussen